@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
  font-family: 'Roboto Mono', monospace;
  background: lightgray;
}


.messageOther {
  display: block;
  margin-right: auto;
  background: rgb(194, 191, 196) !important;
  padding: 15px;
  border-radius: 15px;
  max-width: fit-content;
}

.messageMine {
  display: block;
  margin-left: auto;
  background: rgb(95, 145, 255) !important;
  padding: 15px;
  border-radius: 15px;
  max-width: fit-content;
}

.chatsDiv{
  max-height:  60vh;
  overflow: scroll;
}